.test {

  min-height: 40vh;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column-reverse;
  color: white;
  font-size: 20px;
  margin: 7%;
  min-height: 36vh;
  padding: 10px 13px;
  border-radius: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  background: linear-gradient(115deg, #ff9596 3%, #f47678 16%, #ef6668 27%, rgba(244, 65, 68, 0.961244) 46%, #ec6264 62%, #ef7d7f 74%, #ff8c8d 87%, #f7bbbc 96%, #ffbbbc 96%, #ffb9b9 98%);
}



.cloudcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loutrekiss img {
  position: absolute;
  max-width: 80vw;
  width: 50vw;
  top: 110vw;
  left: 24vw;
}

.xp {
  font-size: 15px;
  font-weight: bold;
  align-self: center;
  margin: 5%;
}

.score {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgb(214, 214, 214);
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
}

.completed {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
}

.buddy {
  font-family: 'Lilita One', cursive;
  margin: 25px;
  padding: 10px;
  border-radius: 5px;
  background-color: #282828;
  color: whitesmoke;


}

.texts {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.progressive {
  display: flex;
  margin-bottom: 3vh;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
  border: 0.3px solid #a7a7a7;
  margin-left: 12vh;
  width: 34vh;
  border-radius: 11px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  /* margin-left: 2px; */
  /* background: linear-gradient(115deg, #ff9596 3%, #f47678 16%, #ef6668 27%, rgba(244, 65, 68, 0.961244) 46%, #ec6264 62%, #ef7d7f 74%, #ff8c8d 87%, #f7bbbc 96%, #ffbbbc 96%, #ffb9b9 98%); */
}





.nakedloutre {
  display: flex;
  flex-direction: column;
}


.nakedloutre img {
  max-width: 41vh;

  align-self: center;
}

.titlebuddy {
  color: white;
  font-weight: 500;
  margin-bottom: 15%;
}






.progress-bar {
  border-radius: 30px;
  border: 0.7px solid #2c2c2c;
  margin-top: 5px;

  &.xp-bar {
    height: 16px;
    border: 1px solid #2c2c2c;

    &::-webkit-progress-bar {
      background: rgb(255, 255, 255);
    }

    &::-webkit-progress-value {
      background: rgb(243, 184, 35);
    }
  }

  &.category-bar {
    height: 8px;

    &::-webkit-progress-bar {
      background: rgb(255, 255, 255);
    }

    &::-webkit-progress-value {
      background: rgb(122, 255, 95);
    }
  }
}


.blackhole {
  width: 32%;
}

.buddybody {
  display: flex;
  align-items: baseline;
  justify-content: center;













  /* background: */
  // progress::-webkit-progress-bar {background-color: black; width: 100%;}
  // progress {background-color: black;}

  // /* value: */
  // progress::-webkit-progress-value {background-color: green !important;}
  // progress::-moz-progress-bar {background-color: green !important;}
  // progress {color: green;}


}
