.bannerquestions {
  display: flex;
  flex-direction: column;
  margin: 15%;
  margin-top: 5%;
  text-align: center;
  margin-bottom: 5%;
}

.bannerquestions h1 {
  position: relative;
  font-size: 38px;
  padding-bottom: 5%;
  margin: 5%;
}

.bannerquestions h1::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 16px;
  width: 190px;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(238,111,87,0.5);
  z-index: -1;
}

.bannerquestions p {
  font-size: 14px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.questionname {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(39, 39, 39);
  border-radius: 15px 0 15px 15px;
  padding: 10px 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.questionss {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20%;
  margin-top: 5%;
}


.photoyes {
  width: 80%;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin-bottom: 10%;
}

.photoyes img {
  width: 100%;
  height: auto;
}

.photoyes img:active {
  filter: blur();
}

.photono {
  width: 80%;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.photono img {
  width: 100%;
  height: auto;
  transition: 0.8s;
}
