.h1graph {
  color: black;
  font-size: 40px;
  text-align: center;
  padding: 5px;
  // margin-bottom: -10px;
  position: relative;
}

.h1graph::before {
  content: "";
  position: absolute;
  left: 55%;
  bottom: 9px;
  width: 140px;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(238,111,87,0.5);
  z-index: -1;
}
.colordiv{
  background-color: #EB5C5E;
  border: 2px solid #EB5C5E;
  border-radius: 20px;
  height: 87vw;
  width: 93vw;
  padding: 17px;
  position: absolute;
  margin-top: -10px;
  padding-right: 8px;
  padding-left: 8px;
}

.whitediv{
  background-color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 3px;
  margin-top: -10px;

}
#categorytitle{
  color: black;
  font-size: 15px;
  text-align: center;
}

.lignesport {
  margin-top: 14px;
  margin-bottom: 17px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 10px 10px 10px 30px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-family: 'Zen Maru Gothic', sans-serif, 500 !important;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px !important;
  justify-content: space-evenly;
  border-left: 10px solid #F5C44D;
 }

 .lignehealth{
  margin-top: 14px;
  margin-bottom: 17px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 10px 10px 10px 30px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-family: 'Zen Maru Gothic', sans-serif, 500 !important;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px !important;
  justify-content: space-evenly;
  border-left: 10px solid #A0E295;
 }


 .lignehobby{
  margin-top: 14px;
  margin-bottom: 17px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 10px 10px 10px 30px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-family: 'Zen Maru Gothic', sans-serif, 500 !important;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px !important;
  justify-content: space-evenly;
  border-left: 10px solid #FF8954;
 }

 .lignebusiness{
  margin-top: 14px;
  margin-bottom: 17px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 10px 10px 10px 30px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  font-family: 'Zen Maru Gothic', sans-serif, 500 !important;
  box-shadow: rgba(0, 0, 0, 0.30) 0px 3px 8px !important;
  justify-content: space-evenly;
  border-left: 10px solid #2FC2FF;
 }

 .demiloutrerewards {
  max-width: 50vh;
  width: 77vw;
  height: 50vw;
  position: absolute;
  top: 103px;
  left: 86px;
  z-index: -2;

 }
  .columncat{
    flex-flow: column wrap;
  }
  .columncat img {
    width: 10vw;
    filter: saturate(3);
  }

.grey {
  filter: grayscale(2) !important;
  transform: rotate(360deg);
  }
