.h1graph {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.row {
  margin-bottom: 50px;
}

.col img {
  width: 70px;
  filter: saturate(3);
}

.grey {
  filter: grayscale(1) !important;
}
