body {
  background-color: #FF4D58;
  max-height: 896px;
  max-width: 375px;
  background-image: url(images/NakedLoutreHi.gif);
}


.relative {
  width: fit-content;
  text-align: center;
}

.superloutre {
  align-self: center;
  justify-self: center;
  z-index: 2;
}
