.popup {
  position: fixed;
  border: 2px solid black;
  top: 20%;
  right: 1%;
  background-color: white;
  padding: 30px 30px;
  width: 90%;
  border-radius: 0 25px 0 25px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
  margin-right: 4%;

  &.active {
    opacity: 1;
    transition: opacity 0.3s;
    z-index: 3;
    filter: blur(0);
  }
}


.croix {
  position: relative;
}

.popup img {
  position: absolute;
  top: 85%;
  left: 9%;
  width: 100%;
}

.bigbigcontainer {
  &.active {
    filter: blur(8px);
  }
}

#addtasktitle {
  color: black;
  font-size: 25px;
  text-align: center;
  padding: 9%;
  margin-bottom: -2%;
  margin-left: -5%;
  position: relative;
}

#addtasktitle::before {
  content: "";
  position: absolute;
  left: 60%;
  bottom: 31%;
  width: 45vw;
  height: 3vw;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(238, 111, 87, 0.5);
  z-index: -1;
}

.nameform {
  text-align: center;
}

.form-label {
  font-size: 20px;
}

#inputid {
  font-size: 20px;
}


#pcategory{
  margin-left: 30px;
  font-size: 15px;
}

.form-control{
  text-align: center;
}

.radiobtn {
  padding: 7%;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  height: 42vw;
  width: 57vw;
  text-align: left;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;

}

.radiobtn img {
  padding: 4%;
  text-align: center;
  border: 2px solid #EAEAEA;
  border-radius: 25px;
  background-color: white;
  width: 15vw;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  flex-grow: 1;

}

.sport_collection_radio_buttons img:hover {
  background-color: #F5C44D
}

.health_collection_radio_buttons img:hover {
  background-color: #A0E295;
}

.business_collection_radio_buttons img:hover {
  background-color: #2FC2FF;
}

.hobby_collection_radio_buttons img:hover {
  background-color: #FF8954;
}

#task_category_health {
  visibility: hidden;
}

#task_category_health {
  visibility: hidden;
}

#task_category_sport {
  visibility: hidden;
}

#task_category_business {
  visibility: hidden;
}

#task_category_hobby {
  visibility: hidden;
}

.pastequediv {
  background-color: #FF4D58;
  border: 2px solid #FF4D58;
  border-radius: 20px;
  height: 101vw;
  width: 72vw;
  margin-left: 8vw;
  padding: 5%;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
}


  .bg-white {
    border-radius: 20px !important;
    position: relative;
    margin-right: -5%;
    margin-left: -5%;
    margin-top: -5%;
    background-color:white !important;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px !important;
  }

  .SuperloutreFlying {
    max-width: 50vh;
    position: absolute;
    right: 58vw;
    bottom: 10vh;
    width: 45vw;
    &.active {
      visibility: hidden;
    }
  }


.twobtn {
  display: flex;
  justify-content: right;
}

.creatbtn {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: #FF4D58;
  border-radius: 15px;
  padding: 2% 7%;
  border: 2px solid #FF4D58;
  margin-top: 5%;
}

.creatbtn:active {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: white;
  border-radius: 20px;
  padding: 2% 7%;
  border: 2px solid white;
  margin-top: 5%;

}
