#addtasktitle{
  color: #E67E22;
  font-size: 40px;
  text-align: center;
  padding: 40px;
  margin-bottom: -30px;
  margin-left: 55px;
}

.nameform {
  text-align: center;
}

.form-label  {
  font-size: 20px;
}

#inputid{
  font-size: 20px;
}

#pcategory{
  margin-left: 70px;
  font-size: 20px;
}

.radiobtn {
  padding: 20px;
  margin-top: -30px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  text-align: left;
  // position: relative;
}

.radiobtn img {
  padding: 9px 5px 15px 5px;
  text-align: center;
  border: 2px solid #EAEAEA;
  border-radius: 25px;
  background-color: white;
  margin: 8px;
  height: 100px;
  width: 100px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  flex-grow: 1;

}

.sport_collection_radio_buttons img:hover{
  background-color: #F5C44D
}

.health_collection_radio_buttons img:hover{
  background-color: #A0E295;
}

.business_collection_radio_buttons img:hover{
  background-color: #FF5F5F;
}

.hobby_collection_radio_buttons img:hover{
  background-color: #FF8954;
}

  #task_category_health   {
    visibility: hidden;
  }

  #task_category_health  {
    visibility: hidden;
  }

  #task_category_sport {
    visibility: hidden;
}

  #task_category_business {
    visibility: hidden;
  }

  #task_category_hobby {
    visibility: hidden;
  }


.bg-white {
  margin-left: 30px;
  margin-bottom: -60px;
  border-radius: 20px !important;
  position: absolute;
  margin-right: 25px;
  background-color: #ECE5C7 !important;
}


.twobtn {
  display: flex;
  justify-content: right;

}

// .backbtn {
//   font-family: inherit;
//   font-size: inherit;
//   line-height: inherit;
//   background: bisque;
//   border-radius: 20px;
//   text-decoration: none;
//   color: black;
// }

.creatbtn  {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: #FF8D29;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #FF8D29;

}

.SuperloutreFlying {
  max-width: 50vh;
  margin-top: 20%;
  position: absolute;
  right: 95px;
  bottom: 65px;
}
