
<div class=div>
   <div class=bulle>
      <% @tasks.each do |task| %>
      <div class="tasks">
        <p><%= task.name.capitalize%></p>
         <td><%= link_to task, method: :delete do %>
         <%= image_tag("poubelle.png") %>
         <% end %>
        </td>
      </div>
        <% end %>
    </div>
  <%= render "navbar" %>
</div>
