 <div>
    <h3>All tasks</h3>
      <% @tasks.each do |task| %>
        <%= task.name%>
        <%= task.frequence%>
        <%= task.category%>
        <% end %>
  </div>
<div>
<%= link_to "Add a task", new_task_path %>
