<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BUDDY</title>
</head>
<body>

<div class="container" style="justify-items:center;align-items:center">
<%= image_tag("cloudbuddy.png", :class => "cloudbuddy", :style => "width: 377px, ;height: 812px; margin: auto 0 ")%>
<div class="flex", style = "position: absolute;top: 150px;right: 12px;"><%= image_tag("NakedLoutreHi", :class => "superloutre", :style => "max-width: 300px ;max-height: 270px")%></div>
<div>
</body>
</html>
