.buddybanner {
  display: flex;
  justify-content: center;
  background-color: #EB5C5E;
  width: 100%;
}

.imgbanner {
  margin-left: -65%;
}

.imgbanner img {
  width: 80px;
  margin-bottom: 5px;
  margin-top: 5px;
}
