.topnavbar li{

  display: inline-block;
  text-decoration: none;
  width: 71px;
  height: 40px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.topnavbar a{
  border-radius: 10%;
 padding-right: 1px;
 width: 10px;
 height: 10px;
}

.topnavbar img{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  padding-bottom: 2px;
}

.topnavbar .text{
  width: max-content;
  justify-content: space-evenly;
}
