.topnavbar {
  border-top: solid 8px #FF5F5F;
  width: 100vw;
  height: 60px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 10px;

}



.topnavbar li {
  display: inline-block;
  text-decoration: none;
  width: 71px;
  height: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
}

a {
  border-radius: 50%;
}

.topnavbar img {
  width: 51px;
  height: 51px;
  border-radius: 25%;
  padding-bottom: 7px;
  background-color: #2A9D8F;
}

.topnavbar .text {
  width: max-content;
  justify-content: space-evenly;
}

#home img {
  background-color: #FF5F5F;
}

#plus img {
  background-color: #FF8954;
}

#graph img {
  background-color: #F5C44D;
}

#logout img {
  background-color: #A0E295;
}

/////// active styles /////
#home img:active {
  transform: rotate(180deg);
  background-color: #6a2929;
}

#plus img:active {
  transform: rotate(180deg);
  background-color: #80462b;
}

#graph img:active {
  transform: rotate(90deg);
  background-color: #745c25;
}

#logout img:active {
  transform: rotate(180deg);
  background-color: #4b6c45;
}
